<div class="mb-3 row g-2">
  <!-- Input de Data -->
  <div class="col-md-6">
    <label for="date" class="form-label">Data:</label>
    <input
      type="date"
      class="form-control"
      id="date"
      name="date"
      [ngModel]="this.dateInput()"
      (ngModelChange)="this.dateInput.set($event); onDateChange()"
      required
      #dateNgModel="ngModel"
    />
    @if (dateNgModel.invalid && (dateNgModel.dirty || dateNgModel.touched)) {
    <div class="text-danger form-text mt-1" style="font-size: 0.8em">
      <i class="bi bi-exclamation-triangle"></i> La data és obligatòria.
    </div>
    }
  </div>

  <!-- Select d'Esdeveniments -->
  <div class="col-md-6">
    <label for="event" class="form-label">
      Esdeveniment: @if(this.eventsList().length > 0){
      <small class="text-info" style="font-size: 0.65em"
        ><i class="bi bi-info-circle"></i> Hi ha events disponibles:</small
      >
      }
    </label>
    <div class="input-group">
      @if (isLoading()) {
      <span class="input-group-text">
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          title="Carregant esdeveniments..."
        ></span>
      </span>
      }
      <select
        class="form-select"
        id="event"
        name="event"
        [ngModel]="selectedEventId()"
        (ngModelChange)="selectedEventId.set($event); updateDrinkDataEventId()"
        [disabled]="this.eventsList().length === 0 || this.isLoading()"
        aria-label="Selecciona un esdeveniment associat"
      >
        <option [ngValue]="null">Cap esdeveniment</option>
        @for (event of eventsList(); track event.event_id) {
        <option [ngValue]="event.event_id">
          <span class="icon me-1" aria-hidden="true">{{
            event.nom | eventIcon
          }}</span>
          {{ event.nom }} ({{ event.data_inici | date : "dd/MM/yy" }} -
          {{ event.data_fi | date : "dd/MM/yy" }})
        </option>
        }
      </select>
    </div>
    @if (this.eventsList().length === 0 && !this.isLoading()) {
    <div class="form-text text-muted mt-1" style="font-size: 0.8em">
      No hi ha esdeveniments actius disponibles.
    </div>
    }
  </div>
</div>
