<div class="container">
  <a class="box box--1">
    <div class="box__background">
      <div class="box__text-line box__text-line--top">
        <span>Eseiaat</span>
      </div>
      <div class="box__text-line box__text-line--bottom">
        <span>Setmana cultural</span>
      </div>
    </div>
    <div class="box__content">
      <div class="box__col">
        <div class="box__title">Stats <span>Generals</span></div>
        <div class="box__btn" routerLink="/la_gran_aventura">
          Registrar <i class="bi bi-plus-lg"></i>
        </div>
      </div>
      <div class="box__col">
        <div class="box__card card">
          <div class="card__top">Quantitat</div>
          <div class="card__title"><span>15</span> Litres</div>
          <div class="card__btn">
            El més bevedor:
            <span>Jordi</span>
          </div>
        </div>
        <div class="box__card card">
          <div class="card__top">PREU</div>
          <div class="card__title"><span>35</span> €</div>
          <div class="card__btn">See more</div>
        </div>
        <!-- NOVA TARGETA AMB LA TEVA INFO -->
        <div class="box__card card">
          <div class="card__top">La meva info</div>
          <div class="card__title">
            <span>8</span> Litres - <span>20</span> €
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
