<!-- Llista Infinita de Begudes -->
<section id="last-drinks" class="py-5" style="background-color:#732056;">
  <div class="container px-4 px-lg-5">
    <!-- Títol -->
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-12 text-center">
        <h2 class="fw-bold text-white" style="font-size: 1.8em;">🍹 Últimes Aventures Etíliques 🍸</h2>
      </div>
    </div>

    <!-- Llista de Begudes (amb infinite scroll) -->
    <!-- [infiniteScrollDistance]="8":
      Aquesta propietat defineix la distància (en percentatge) des del final del contenidor a la qual s'ha de començar a carregar més contingut.
      Per exemple, si el contenidor té una alçada de 1000 píxels, es començarà a carregar més contingut quan l'usuari faci scroll fins al punt que només quedin 80 píxels per arribar al final del contenidor.

      [infiniteScrollThrottle]="300":
      Aquesta propietat defineix un "throttle" (limitador) de temps en milisegons.
      Un valor de 300 significa que, com a màxim, el mètode loadInserts() es cridarà un cop cada 300 milisegons, encara que l'usuari faci scroll molt ràpid. -->
    <div class="row gx-4 gx-lg-5" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
      (scrolled)="loadInserts()">

      @if (InfiniteDrinks.length > 0) {
      <div *ngFor="let drink of InfiniteDrinks; let i = index" class="col-lg-12 col-md-12 mb-4">
        <div class="card text-white bg-dark shadow-lg border-0">
          <div class="card-body">
            <div class="row align-items-center text-center">
              <!-- Data -->
              <div class="col-3 col-md-3">
                <span class="fs-5 fw-bold">{{ drink.date | date:'dd MMM yyyy' }}</span>
                <p class="mb-0">{{ drink.user_name }}</p>
              </div>

              <!-- Beguda i Lloc -->
              <div class="col-6 col-md-6">
                <h4 class="fw-bold">{{ drink.drink }}</h4>
                @if (drink.location.length>=1) {
                <h5 class="fw-semibold text-warning"><i class="bi bi-geo"></i> {{ drink.location }}</h5>
                }
                <p class="mb-0">{{ drink.others }}</p>
              </div>

              <!-- Quantitat i Preu -->
              <div class="col-3 col-md-3">
                @if (drink.num_drinks<=1) { <span class="fw-bold fs-5">
                  {{ drink.quantity }} <small>L</small>
                  </span>
                  } @else {
                  <span class="fw-bold fs-5">
                    {{ drink.num_drinks }} <small>x</small>
                    {{ (drink.quantity / drink.num_drinks) | number:'1.0-2' }} <small>L</small>
                  </span>
                  }
                  <br>
                  <span class="fw-bold fs-5">{{ drink.price }} €</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      }

      @else {
      <!-- Si no hi ha begudes -->
      <ng-template>
        <div class="col-12 text-center">
          <p class="text-white">Encara no hi ha registres.</p>
        </div>
      </ng-template>
      }

      <!-- Carregant -->
      @if (loading) {
      <div class="col-12 text-center">
        <p class="text-white">Carregant més registres...</p>
      </div>
      }

      <!-- No hi ha més begudes -->
      @if (allInsertsLoaded && InfiniteDrinks.length > 0) {
      <div class="col-12 text-center">
        <p class="text-white">No hi ha més registres per carregar.</p>
      </div>
      }
    </div>
  </div>
</section>
