<!-- Secció Legal -->
<section id="legal" class="py-5">
    <div class="container px-4 px-lg-5">
        <!-- Títol -->
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-12">
                <h2 class="text-left mt-0" style="font-size: 1.5em;">Informació legal</h2>
            </div>
        </div>

        <!-- Política de privacitat -->
        <div class="mb-4">
            <h3 class="h5">Política de privacitat</h3>
            <p>
                D’acord amb el que disposa el Reglament General de Protecció de Dades (UE) 2016/679 del Parlament
                Europeu i del Consell de 27 d’abril de 2016, l’informem que les seves dades seran tractades amb la
                finalitat de dur a terme la gestió que ofereix
            </p>
            <ul>
                <li><strong>Delegat de Protecció de Dades:</strong> <a href="mailto:.net"></a></li>
                <li><strong>Email:</strong> <a href="mailto:admin@">admin&#64;</a></li>
            </ul>
        </div>

        <!-- Cookies -->
        <div>
            <h3 class="h5">Cookies</h3>
            <p>
                Aquest lloc web utilitza cookies i/o tecnologies similars que emmagatzemen i recuperen informació quan
                navegues. En general, aquestes tecnologies poden servir per a finalitats molt diverses, com, per
                exemple, reconèixer-te com a usuari, obtenir informació sobre els teus hàbits de navegació, o
                personalitzar la manera com es mostra el contingut.
            </p>
            <p>
                En compliment de la guia de protecció de dades de l'agència espanyola de protecció de dades, fem saber
                que les dades que emmagatzemam en cookies són:
            </p>
            <ul>
                <li>Entrada d'usuari</li>
                <li>Idioma</li>
                <li>Seguretat</li>
            </ul>
        </div>
    </div>
</section>
