<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Benvingut al Dashboard</h1>
    <p class="lead">Escull una opció:</p>
    <hr class="my-4">

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jo Maimai</h5>
            <p class="card-text">Juga al Jo Maimai i posa a prova els teus coneixements.</p>
            <a routerLink="/jo_maimai" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Afegir Dades</h5>
            <p class="card-text">Afegeix informació sobre el teu consum de begudes.</p>
            <a routerLink="/la_gran_aventura" class="btn btn-success">Afegir Dades</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Estadístiques</h5>
            <p class="card-text">Visualitza les teves estadístiques de consum.</p>
            <a routerLink="/la_gran_aventura" class="btn btn-info">Veure Estadístiques</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
