@if (eventdata()) {
<a class="box box--1">
  <div class="box__background">
    @if (this.eventdata()?.total_participants ?? 0 > 0) {
    <div class="box__text-line box__text-line--top">
      <span>
        <span
          style="
            text-transform: capitalize;
            padding-right: 2px;
            padding-left: 0%;
          "
        >
          Participants:</span
        >
        {{ this.eventdata()?.total_participants }}
      </span>
    </div>
    }
    <div class="box__text-line box__text-line--bottom">
      <!-- Accedeix al signal amb () i usa ?. per seguretat -->
      <span>{{ this.eventdata()?.nom }}</span>
    </div>
  </div>
  <div class="box__content">
    <div class="box__col">
      <div class="box__title">{{ this.eventdata()?.nom }}</div>
      <div class="box__btn" routerLink="/la_gran_aventura">
        Registrar <i class="bi bi-plus-lg"></i>
      </div>
      <p>
        {{ this.eventdata()?.data_inici | date : "dd/MM/yyyy" }} -
        {{ this.eventdata()?.data_fi | date : "dd/MM/yyyy" }}
      </p>
    </div>
    <div class="box__col box__col--right">
      <!-- Opcional: Mostrar missatge mentre les dades carreguen -->
      @if (!this.statsData()) {
      <div>Carregant estadístiques...</div>
      } @else {
      <!-- Només mostra les cards si statsData té valor -->
      <ng-container>
        <div class="box__card card">
          <div class="card__top">Quantitat</div>
          <div class="card__title">
            <!-- Accedeix al signal amb () i usa ?. -->
            <span>{{ statsData()?.generalStats?.total_litres }}</span> Litres
          </div>
          <div class="card__btn">
            El més bevedor:
            <!-- Comprova existència i longitud de l'array abans d'accedir -->
            @if (statsData()?.topDrinker?.length > 0) {
            <span>
              {{ statsData()?.topDrinker[0]?.user_name }} -
              {{ statsData()?.topDrinker?.[0]?.litres_totals }}L
            </span>
            } @if(!statsData()?.topDrinker || statsData()?.topDrinker?.length
            === 0) {
            <span> N/A </span>
            }
          </div>
        </div>

        <div class="box__card card">
          <div class="card__top">PREU</div>
          <div class="card__title">
            <!-- Accedeix al signal amb () i usa ?. -->
            <span> {{ statsData()?.generalStats?.total_preu }}</span> €
          </div>
          <div class="card__btn">See more</div>
        </div>

        <!-- La sintaxi @if funciona directament amb signals cridats com a funcions -->
        @if (statsData()?.generalUserStats?.begudes_totals > 0) {
        <div class="box__card card card--user">
          <div class="card__top">La meva info</div>
          <div class="card__title card--user">
            <!-- Accedeix als signals amb () i usa ?. -->
            <span>{{ statsData()?.generalUserStats?.total_litres }}</span>
            Litres -
            <span>{{ statsData()?.generalUserStats?.total_preu }}</span> €
          </div>
          <div class="card__btn">
            <!-- Accedeix al signal amb () i usa ?. -->
            Has pres:
            {{ statsData()?.generalUserStats?.begudes_totals }} begudes
          </div>
        </div>
        } @else if (true) {
        <!-- Pots afegir un cas per quan està loguejat però no té begudes -->
        <div class="box__card card">
          <div class="card__top">La meva info</div>
          <div class="card__title">No has registrat begudes</div>
          <div class="card__btn" routerLink="/la_gran_aventura">Registrar</div>
        </div>
        }
        <!-- No cal un @else explícit si no vols mostrar res quan no està loguejat -->
      </ng-container>
      }
      <!-- Fi del *ngIf="statsData()" -->
    </div>
  </div>
</a>
} @else {
<div class="banner">
  <h1>No Event Data Available</h1>
</div>
}
