@if (isOpen) {
<div class="modal fade show" id="signin-modal" tabindex="-1" aria-labelledby="signin-modalLabel" aria-hidden="true"
  style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header amb les pestanyes -->
      <div class="modal-header bg-metallic">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link fw-medium text-dark" [ngClass]="{'active': isPageOpen('LoginOverlay')}"
              (click)="openPage('LoginOverlay')" id="signin-tab-link" data-bs-toggle="tab" href="#signin-tab" role="tab"
              aria-controls="signin-tab" [attr.aria-selected]="isPageOpen('LoginOverlay')">Entra, reina! 👑</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium text-dark" [ngClass]="{'active': isPageOpen('RegisterOverlay')}"
              (click)="openPage('RegisterOverlay')" id="signup-tab-link" data-bs-toggle="tab" href="#signup-tab"
              role="tab" aria-controls="signup-tab" [attr.aria-selected]="isPageOpen('RegisterOverlay')">Registra't,
              amorx! 💃</a>
          </li>
        </ul>
        <button type="button" class="btn-close" (click)="closeOverlay()" aria-label="Close"></button>
      </div>

      <!-- Cos del modal (contingut de les pestanyes) -->
      <div class="modal-body">
        @if (isPageOpen('LoginOverlay')) {
        <!-- Component de Login -->
        <app-login (Forgotmypassword)="openforgot()" (afterlogin)="closeOverlay()"></app-login>
        } @else if (isPageOpen('RegisterOverlay')) {
        <!-- Component de Registre -->
        <app-register></app-register>
        } @else if (isPageOpen('ForgotmypasswordOverlay')) {
        <!-- Component de Recuperar Contrasenya -->
        <app-forgotmypassword></app-forgotmypassword>
        }
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
}
