@if (userEvents.length === 0) {
<!-- Mostrem el breaking banner només si NO hi ha esdeveniments -->
<app-breaking-banner [eventdata]="activeEvents"></app-breaking-banner>
} @else {
<!--<h2>Esdeveniments actius User</h2>-->
<div class="container-special">
  @for (event of userEvents; track event.event_id) {
  <app-banner [eventdata]="event"></app-banner>
  }
</div>
}
<section>
  <div class="container position-relative">
    <div class="position-absolute top-0 end-0 mt-3 me-3" style="z-index: 1000">
      <button type="button" class="metallic-button-shine" routerLink="/events">
        Apunta't a un esdeveniment
      </button>
    </div>
  </div>
</section>
