/* heatmap.component.css */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  width: 900px;
  height: 900px; /* o qualsevol alçada que necessitis */
}


.btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
