<div class="stories-container">
  <div class="header">
    <img [src]="currentUser.profileImage" alt="Profile" class="profile-image">
    <span>{{ currentUser.username }}</span>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="progress"></div>
    </div>
    <button (click)="closeStories()" class="close-button">X</button>
  </div>

  <div class="story-image-container">
    <img [src]="currentStory.imageUrl" alt="Story" class="story-image">
  </div>

  <div class="controls">
    <button (click)="prevStory()" class="nav-button">Anterior</button>
    <button (click)="nextStory()" class="nav-button">Següent</button>
  </div>

  <div class="votes">
      <button (click)="voteUp()">Vot Positiu</button>
      <button (click)="voteDown()">Vot Negatiu</button>
      <p>Vots Positius: {{currentStory.votsPositius ? currentStory.votsPositius : 0}}</p>
      <p>Vots Negatius: {{currentStory.votsNegatius ? currentStory.votsNegatius : 0}}</p>
  </div>
</div>
