<div class="container mt-4">
  <h2>Editar Dades de Consum</h2>

  <form *ngIf="drinkData" (ngSubmit)="updateDrinkData()">
    <div class="mb-3">
      <label for="date" class="form-label">Data:</label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="drinkData.date"
        (change)="updateDayOfWeek()" required>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Lloc:</label>
      <input type="text" class="form-control" id="location" name="location" [(ngModel)]="drinkData.location"
        (input)="filterLocations()" required>
      <ul class="list-group" *ngIf="locationSuggestions.length > 0">
        <li class="list-group-item" *ngFor="let suggestion of locationSuggestions"
          (click)="drinkData.location = suggestion; locationSuggestions = []">{{ suggestion }}</li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="drink" class="form-label">Beguda:</label>
      <input type="text" class="form-control" id="drink" name="drink" [(ngModel)]="drinkData.drink"
        (input)="filterDrinks()" [value]="drinkData.drink || (selectedDrink.name !== 'Manual' && selectedDrink.name !== 'Selecciona' ? selectedDrink.name : '')"
        (ngModelChange)="onDrinkInputChange($event)" required>
      <ul class="list-group" *ngIf="drinkSuggestions.length > 0">
        <li class="list-group-item" *ngFor="let suggestion of drinkSuggestions"
          (click)="drinkData.drink = suggestion; drinkSuggestions = []">{{ suggestion }}</li>
      </ul>
    </div>

    <!-- Quantitat -->
    <div class="mb-3 row">
      <div class="col-sm-2">
        <label for="totalliters" class="form-label">Total liters:</label>
        <!-- Pantalla gran: Input -->
        <div class="input-group d-none d-sm-flex">
          <input type="text" class="form-control text-white bg-dark" id="totalliters" name="totalliters"
            [value]="(drinkData.quantity * drinkData.num_drinks) | number:'1.2-2'" readonly>
          <span class="input-group-text">L</span>
        </div>
        <!-- Pantalla petita: Text -->
        <div class="d-sm-none">
          <p class="form-control-plaintext">
            <strong>Total liters: {{ (drinkData.quantity * drinkData.num_drinks) | number:'1.2-2' }} L</strong>
          </p>
        </div>
      </div>

      @if (manualQuantity) {
      <div class="col-md-3">
        <label for="quantity" class="form-label">Quantitat (en litres):</label>
        <div class="input-group">
          <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="drinkData.quantity"
            required step="0.01" min="0.1" (ngModelChange)="onQuantityChange($event)"><span
            class="input-group-text">L</span>
        </div>
        <div *ngIf="drinkData.quantity > 1.5" class="form-text text-warning">
          <i class="bi bi-info-circle"></i>
          Si us plau, assegura't que la quantitat està en litres.
        </div>
      </div>
      }

      <div class="col-md-5">
        <label for="drinkSelect" class="form-label">Sel. una quantitat:</label>
        <div class="input-group">
          <select id="drinkSelect" class="form-select" (change)="onDrinkQuantityChange($event)">
            @for (drink of drinks; track $index) {
            @if (drink.name === "Manual") {
            <option [value]="drink.name" [selected]="drink.name === selectedDrink.name"
              class="bg-warning text-black fw-bold">
              {{ drink.name }}
            </option>
            } @else if ( drink.name === "Selecciona") {
            <option [value]="drink.name" [selected]="drink.name === selectedDrink.name">
              {{ drink.name }}
              }@else {
            <option [value]="drink.name" [selected]="drink.name === selectedDrink.name">
              {{ drink.name }} <!--<small>({{ drink.quantity }}L)</small>--> {{ drink.descr }}
            </option>
            }
            }
          </select>
          @if (selectedDrink.name !== "Manual" && selectedDrink.name !== "Selecciona") {
          <span class="input-group-text">{{ selectedDrink.quantity }}L</span>
          }
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Preu:</label>
      <input type="number" class="form-control" id="price" name="price" [(ngModel)]="drinkData.price" required>
    </div>

    <!-- Input Num Drinks -->
    <div class="mb-3 row">
      <div class="col-md-2">
        <label for="num_drinks" class="form-label">Quantitat</label>
        <input type="number" class="form-control" id="num_drinks" name="num_drinks" [(ngModel)]="drinkData.num_drinks"
          required step="1" min="1" (ngModelChange)="onNumDrinksChange($event)">
      </div>

      <div class="col-sm-2">
        <label for="totalprice" class="form-label">Total €:</label>
        <!-- Pantalla gran: Input -->
        <div class="input-group d-none d-sm-flex">
          <input type="text" class="form-control text-white bg-dark" id="totalprice" name="totalprice"
            [value]="totalPrice | number:'1.2-2'" readonly>
          <span class="input-group-text">€</span>
        </div>
        <!-- Pantalla petita: Text -->
        <div class="d-sm-none">
          <p class="form-control-plaintext">
            <strong>Total: {{ totalPrice | number:'1.2-2' }} €</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="others" class="form-label">Altres:</label>
      <textarea class="form-control" id="others" name="others" [(ngModel)]="drinkData.others"></textarea>
    </div>

    <button type="submit" class="btn btn-primary me-1">Guardar Canvis</button>
    <button type="button" class="btn btn-danger me-1" (click)="deleteDrinkData()">Eliminar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel·lar</button>
  </form>
</div>
