<!-- Modal "He oblidat la contrasenya" -->
<div class="modal-body">
  <h4>He oblidat la contrassenya</h4>
  <br>
  <form method="post" novalidate>
    <div class="mb-3">
      <label class="form-label" for="fp-email">Adreça electrònica</label>
      <input class="form-control" name="email" type="email" id="fp-email" placeholder="fadetes@example.com" required>
      <div class="invalid-feedback">És necessari un correu vàlid per recuperar la contrasenya.</div>
    </div>
    <button class="btn btn-primary text-black metallic-button d-block w-100" >Envia'm un enllaç de
      recuperació</button>
  </form>
</div>
