<div class="container">
  <br>
  <h1>Afegir consum <i class="bi bi-cup-straw"></i></h1>
  <br>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="date" class="form-label">Data:</label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="drinkData.date"
        (change)="updateDayOfWeek()" required>
      <!-- AFEGIT (change)="updateDayOfWeek()" -->
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Lloc:</label>
      <input type="text" class="form-control" id="location" name="location" [(ngModel)]="drinkData.location"
        (input)="filterLocations()" required>
      <ul class="list-group" *ngIf="locationSuggestions.length > 0">
        <li class="list-group-item" *ngFor="let suggestion of locationSuggestions"
          (click)="drinkData.location = suggestion; locationSuggestions = []">{{ suggestion }}</li>
      </ul>
    </div>

    <!-- Latitud i Longitud -->
    <div class="mb-3 row">
      <div class="col-6">
        <label for="latitude" class="form-label">Latitud:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="latitude" name="latitude" [value]="drinkData.latitude" readonly
            [ngClass]="{'bg-danger': !hasGpsData}" style="color: white;">
          <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
        </div>
      </div>
      <div class="col-6">
        <label for="longitude" class="form-label">Longitud:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="longitude" name="longitude" [value]="drinkData.longitude" readonly
            [ngClass]="{'bg-danger': !hasGpsData}" style="color: white;">
          <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
        </div>
      </div>
      <div *ngIf="!hasGpsData" class="form-text text-danger">No s'ha pogut accedir a la ubicació.</div>
      <button type="button" class="btn btn-outline-secondary mt-2" (click)="getCurrentLocation()">
        <i class="bi bi-geo-fill"></i> Obtenir Ubicació
      </button>
    </div>

    <div class="mb-3">
      <label for="drink" class="form-label">Beguda:</label>
      <input type="text" class="form-control" id="drink" name="drink" [(ngModel)]="drinkData.drink"
        (input)="filterDrinks()"
        [value]="drinkData.drink || (selectedDrink.name !== 'Manual' && selectedDrink.name !== 'Selecciona' ? selectedDrink.name : '')"
        (ngModelChange)="onDrinkInputChange($event)" required>
      <ul class="list-group" *ngIf="drinkSuggestions.length > 0">
        <li class="list-group-item" *ngFor="let suggestion of drinkSuggestions"
          (click)="drinkData.drink = suggestion; drinkSuggestions = []">{{ suggestion }}</li>
      </ul>
    </div>

    <!-- Quantitat -->
    <div class="mb-3 row g-2">
      <div class="col-sm-1 col-md-2">
        <!-- Pantalla gran: Input -->
        <div class="d-none d-sm-flex">
          <label for="totalliters" class="form-label">Total liters:</label>
        </div>
        <div class="input-group d-none d-sm-flex">
          <input type="text" class="form-control text-white bg-dark" id="totalliters" name="totalliters"
            [value]="(drinkData.quantity * drinkData.num_drinks) | number:'1.2-2'" readonly>
          <span class="input-group-text">L</span>
        </div>
        <!-- Pantalla petita: Text -->
        <div class="d-sm-none">
          <p class="form-control-plaintext">
            <strong>Total liters: {{ (drinkData.quantity * drinkData.num_drinks) | number:'1.2-2' }} L</strong>
          </p>
        </div>
      </div>

      @if (manualQuantity) {
      <div class="col-sm-3 col-md-3">
        <label for="quantity" class="form-label">Quantitat (en litres):</label>
        <div class="input-group">
          <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="drinkData.quantity"
            required step="0.01" min="0.1" (ngModelChange)="onQuantityChange($event)">
          <span class="input-group-text">L</span>
        </div>
        <div *ngIf="drinkData.quantity > 1.5" class="form-text text-warning">
          <i class="bi bi-info-circle"></i>
          Si us plau, assegura't que la quantitat està en litres.
        </div>
      </div>
      }

      <div class="col-sm-1 col-md-5">
        <label for="drinkSelect" class="form-label">Sel. una quantitat:</label>
        <div class="input-group">
          <select id="drinkSelect" class="form-select" (change)="onDrinkQuantityChange($event)"
            [ngClass]="{'bg-warning text-black fw-bold': manualQuantity}">
            @for (drink of drinks; track $index) {
            @if (drink.name === "Manual") {
            <option [value]="drink.name" [selected]="drink.name === selectedDrink.name"
              class="bg-warning text-black fw-bold">
              {{ drink.name }}
            </option>
            } @else if (drink.name === "Selecciona") {
            <option  class="bg-dark text-white" [value]="drink.name" [selected]="drink.name === selectedDrink.name">
              {{ drink.name }}
            </option>
            } @else {
            <option  class="bg-dark text-white" [value]="drink.name" [selected]="drink.name === selectedDrink.name">
              {{ drink.name }} {{ drink.descr }}
            </option>
            }
            }
          </select>
          @if (selectedDrink.name !== "Manual" && selectedDrink.name !== "Selecciona") {
          <span class="input-group-text">{{ selectedDrink.quantity }}L</span>
          }
        </div>
      </div>
    </div>


    <!-- Preu -->
    <div class="mb-3 row">
      <div class="col-sm-2">
        <div class="d-none d-sm-flex">
          <label for="totalprice" class="form-label">Total €:</label>
        </div>
        <!-- Pantalla gran: Input -->
        <div class="input-group d-none d-sm-flex">
          <input type="text" class="form-control text-white bg-dark" id="totalprice" name="totalprice"
            [value]="totalPrice | number:'1.2-2'" readonly>
          <span class="input-group-text">€</span>
        </div>
        <!-- Pantalla petita: Text -->
        <div class="d-sm-none">
          <p class="form-control-plaintext">
            <strong>Total: {{ totalPrice | number:'1.2-2' }} €</strong>
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <label for="price" class="form-label">Preu:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="drinkData.price" required
            min="0">
          <span class="input-group-text"><i class="bi bi-currency-euro"></i></span>
        </div>
      </div>

      <!-- Checkbox Preu Individual -->
      <div class="col-md-3 d-flex align-items-end">
        <div class="d-flex flex-column">
          <label class="form-label">Tipus de preu:</label>
          <!-- Radio Preu Individual -->
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" id="totalpriceRadio" name="priceType"
              [(ngModel)]="priceindividual" [value]="false">
            <label class="form-check-label" for="totalpriceRadio">Preu Individual</label>
          </div>
          <!-- Radio Preu Total -->
          <div class="form-check">
            <input class="form-check-input" type="radio" id="individualpriceRadio" name="priceType"
              [(ngModel)]="priceindividual" [value]="true">
            <label class="form-check-label" for="individualpriceRadio">Preu Total</label>
          </div>
        </div>
      </div>

      <!-- Input Num Drinks -->
      <div class="col-md-2">
        <label for="num_drinks" class="form-label">Quantitat <i class="bi bi-cup-straw"></i></label>
        <input type="number" class="form-control" id="num_drinks" name="num_drinks" [(ngModel)]="drinkData.num_drinks"
          required step="1" min="1" (ngModelChange)="onNumDrinksChange($event)">
      </div>
    </div>


    <div class="mb-3">
      <label for="others" class="form-label">Altres:</label>
      <textarea class="form-control" id="others" name="others" [(ngModel)]="drinkData.others"></textarea>
    </div>

    <div class="d-flex justify-content-center gap-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal"
        [disabled]="drinkData.price < 0 || !drinkData.quantity">
        Afegir
      </button>
      <a routerLink="/la_gran_aventura-list" class="btn btn-warning">Editar dades</a>
    </div>
  </form>
  <!-- Modal de confirmació -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmació de dades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si us plau, confirma que les dades són correctes:</p>
          <p><b>Data:</b> {{drinkData.date}}</p>
          <p><b>Lloc:</b> {{drinkData.location}}</p>
          <p><b>Latitud:</b> {{drinkData.latitude}}</p>
          <p><b>Longitud:</b> {{drinkData.longitude}}</p>
          <p><b>Beguda:</b> {{drinkData.drink}}</p>
          <p><b>Quantitat:</b> {{drinkData.quantity}}</p>
          <p><b>Num de items:</b> {{drinkData.num_drinks}}</p>
          <p><b>Preu:</b> {{drinkData.price}}</p>
          <p><b>Altres:</b> {{drinkData.others}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel·lar</button>
          <button type="button" class="btn btn-primary" (click)="submitData()" data-bs-dismiss="modal">Confirmar i
            Afegir</button>
        </div>
      </div>
    </div>
  </div>
</div>
