<!-- Proper concerts -->
<section id="concerts" class="py-5" style="background-color:#732056;">
  <div class="container px-4 px-lg-5">
    <!-- Títol -->
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-10">
        <h2 class="text-left mt-0" style="font-size: 1.5em;">PROPERS CONCERTS</h2>
      </div>
    </div>

    <!-- Llista de Concerts (amb infinite scroll) -->
    <div class="row gx-4 gx-lg-5" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()">

      @if (concerts.length > 0) {
      <div *ngFor="let concert of concerts; let i = index" class="col-lg-12 col-md-12 mb-4">
        <div class="row align-items-center">
          <!-- Data del Concert -->
          <div class="col-md-3 text-center" style="font-size: 2.7em; letter-spacing: -3px; line-height: 60px;">
            {{ concert.date | date:'dd MMM yyyy' }}
          </div>

          <!-- Títol i Lloc -->
          <div class="col-md-6 text-center mt-2">
            <span class="h4" style="font-family: 'Poppins', sans-serif;">
              {{ concert.title }}
            </span>
            <br>
            <span class="h1 font-weight-bold" style="font-family: 'Poppins', sans-serif;">
              {{ concert.location }}
            </span>
          </div>

          <!-- Enllaç d'entrades -->
          <div class="col-md-3 text-center">
            @if (!concert.tickets_url) {
            <button class="btn text-black metallic-button" disabled>GRATUÏT</button>
            }
            @else {
            <a [href]="concert.tickets_url" target="_blank" class="btn text-black metallic-button">ENTRADES</a>
            }
          </div>
        </div>
        <hr class="my-4">
      </div>
      }
      @else {
      <!-- Si no hi ha concerts -->
      <ng-template>
        <div class="col-12 text-center">
          <p class="text-white">No hi ha concerts programats.</p>
        </div>
      </ng-template>
      }

      <!-- Carregant -->
      @if (loading) {
      <div class="col-12 text-center">
        <p class="text-white">Carregant més concerts...</p>
      </div>
      }

      <!-- No hi ha més concerts -->
      @if (allConcertsLoaded && concerts.length > 0) {
      <div class="col-12 text-center">
        <p class="text-white">No hi ha més concerts per carregar.</p>
      </div>
      }
    </div>
  </div>
</section>
