<br>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <!-- Cos amb els formularis -->
    <div class="modal-body tab-content py-4">
      <!-- Formulari de login -->
      <div class="tab-pane fade show active" id="signin-tab" role="tabpanel" aria-labelledby="signin-tab-link">
        <!-- Missatge d'error (si n'hi ha) -->
        @if (errorMessage) {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        }

        <!-- Formulari de registre -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Nom complet -->
          <div class="mb-3">
            <label class="form-label" for="r-name">Nom complet</label>
            <input type="text" class="form-control" id="r-name" formControlName="name" placeholder="Josep Maria"
              required>
            @if (registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">El nom és obligatori.</div>
            }
          </div>

          <!-- Adreça electrònica -->
          <div class="mb-3">
            <label class="form-label" for="r-email">Adreça electrònica</label>
            <input type="text" class="form-control" formControlName="email" id="r-email"
              placeholder="alfons@example.com" required>
            @if (registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">El correu electrònic és obligatori.</div>
            }
            @if (registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">El correu no és vàlid.</div>
            }
          </div>

          <!-- Contrasenya -->
          <div class="mb-3">
            <label class="form-label" for="r-password">Contrasenya</label>
            <input type="password" class="form-control" formControlName="password" id="r-password" required>
            @if (registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">La contrasenya és obligatòria.</div>
            }
            @if (registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">La contrasenya ha de tenir almenys 8 caràcters.</div>
            }
          </div>

          <!-- Confirmació de contrasenya -->
          <div class="mb-3">
            <label class="form-label" for="r-password_1">Confirma la contrasenya</label>
            <input type="password" class="form-control" formControlName="repeatpassword" id="r-password_1" required>
            @if (registerForm.get('repeatpassword')?.errors?.['required'] &&
            registerForm.get('repeatpassword')?.touched) {
            <div class="space"></div>
            <div class="alert alert-danger">Has de confirmar la contrasenya.</div>
            }
          </div>

          <!-- Error de contrasenyes no coincidents -->
          @if (registerForm.errors?.['mismatch'] && registerForm.touched) {
          <div class="space"></div>
          <div class="mt-3 alert alert-warning">Les contrasenyes no coincideixen.</div>
          }


          <!-- Botó de registre -->
          <button class="btn metallic-button text-dark btn-shadow d-block w-100 fw-bold" type="submit"
            [disabled]="registerForm.invalid">
            Registra't ara!
          </button>
        </form>

      </div>
    </div>

  </div>
</div>
