<!-- Footer-->
<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex flex-column">
      <span class="mb-3 mb-md-0 text-body-secondary">
        <a routerLink="/legal" class="text-body-secondary text-decoration-none">Informació legal</a></span>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy;
        2025
      </span>
      <span class="mb-3 mb-md-0 text-body-secondary">Developed by &#64; rubiolbernat</span>
    </div>
  </footer>
</div>
