<!-- Footer-->
<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex flex-column">
      <span class="mb-3 mb-md-0 text-body-secondary">
        <a routerLink="/legal" class="text-body-secondary text-decoration-none">Informació legal</a></span>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy;
        2025 FADES
      </span>
      <span class="mb-3 mb-md-0 text-body-secondary">Developed by &#64; rubiolbernat</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/fadesfadesfades"><i
            class="bi bi-twitter-x" style="font-size: 1.5rem;"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/fadesfadesfades/"><i
            class="bi bi-instagram" style="font-size: 1.5rem;"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.tiktok.com/@fadesfadesfades"><i
            class="bi bi-tiktok" style="font-size: 1.5rem;"></i></a></li>
    </ul>
  </footer>
</div>
