<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-metallic">
    <div class="container">
      <!-- Marca -->
      <a class="navbar-brand fw-bold text-dark title-fades" routerLink="/">XERINOLA</a>

      <!-- Botó toggler per offcanvas i icona de carro per a mòbils -->
      <div class="d-flex align-items-center">
        <!-- Carro per a mòbils (només visible en pantalles petites) -->
        <!-- Botó toggler per offcanvas -->
        <button class="navbar-toggler text-dark btn-primary metallic-button" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>


      <!-- Contingut principal (expandible en pantalles grans) -->
      <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNavDropdown">
        <div class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/" routerLinkActive="text-active"
              [routerLinkActiveOptions]="{ exact: true }">Inici</a>
          </li>
          <!-- Botó "Espai Personal" (només visible si estàs loguejat) -->
          @if (isLoggedIn) {
          <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="text-active" routerLink="/personal-space">
              Espai Personal
            </a>
          </li>
          }

          <!-- Botó "Dashboard" (només visible si ets admin o vendor) -->
          @if (isAdminOrVendor) {
          <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="text-active" routerLink="/dashboard">
              Dashboard
            </a>
          </li>
          }
        </div>

        <div class="d-flex align-items-center ms-3">
          @if (isLoggedIn) {
          <button (click)="logout()" class="btn btn-primary text-dark metallic-button">Sortir</button>
          } @else {
          <button class="btn btn-primary text-dark metallic-button" data-bs-toggle="modal"
            (click)="openOverlay('login-overlay')">Entra / Registra't</button>
          }
        </div>
      </div>

      <!-- Offcanvas per a mòbils -->
      <div class="offcanvas offcanvas-end d-lg-none bg-metallic" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-dark">
          <h5 class="offcanvas-title title-fades" id="offcanvasNavbarLabel">FADES</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" routerLink="/" routerLinkActive="text-active"
                [routerLinkActiveOptions]="{ exact: true }">Inici</a>
            </li>

            <!-- Botó "Espai Personal" (només visible si estàs loguejat) - Offcanvas -->
            @if (isLoggedIn) {
            <li class="nav-item">
              <a class="nav-link text-dark" routerLinkActive="text-active" routerLink="/personal-space">
                Espai Personal
              </a>
            </li>
            }

            <!-- Botó "Dashboard" (només visible si ets admin o vendor) - Offcanvas -->
            @if (isAdminOrVendor) {
            <li class="nav-item">
              <a class="nav-link text-dark" routerLinkActive="text-active" routerLink="/dashboard">
                Dashboard
              </a>
            </li>
            }
          </ul>
          <div class="d-flex mt-3">
            @if (isLoggedIn) {
            <button (click)="logout()" class="btn btn-primary text-dark metallic-button">Sortir</button>
            } @else{
            <button class="btn btn-primary text-dark metallic-button w-100" data-bs-toggle="modal"
              (click)="openOverlay('login-overlay')">Entra / Registra't</button>
            }
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
