<div class="fullscreen-story-container" *ngIf="stories.length > 0">
  <div *ngIf="loading">Carregant...</div>
  <div *ngIf="!loading" class="story-content">
      <div class="story-header">
          <p>Usuari: {{ currentStory?.user_name }}</p>
      </div>

      <div class="story-image">
          <img [src]="currentStory?.image_url" alt="Story Image">
      </div>

      <div class="story-controls">
          <button (click)="previousStory()">Anterior</button>
          <button (click)="nextStory()">Següent</button>
      </div>

      <div class="story-footer">
          <button (click)="toggleLike()">
              <span *ngIf="isLiked">❤️</span><span *ngIf="!isLiked">🤍</span> Votar
          </button>
      </div>
  </div>

  <button class="close-button" (click)="closeStory()">Tancar</button>
</div>

<p *ngIf="stories.length === 0 && !loading">Aquest usuari no té stories.</p>
