/* Només afecta els inputs amb la classe .no-spin */
input.no-spin::-webkit-inner-spin-button,
input.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spin {
  -moz-appearance: textfield;
}
