<div class="container mt-4">
  <h2>Les meves dades de consum</h2>

  <div *ngIf="drinkDataList.length > 0; else noData">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Lloc</th>
          <th>Beguda</th>
          <th>Quantitat</th>
          <th>Preu</th>
          <th>Num</th>
          <th>Altres</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody>
        @for (drinkData of drinkDataList; track $index) {
        <tr>
          <td>{{ drinkData.date | date:'dd-MM-yy' }}</td>
          <td>{{ drinkData.location }}</td>
          <td>{{ drinkData.drink }}</td>
          <td>{{ drinkData.quantity }}</td>
          <td>{{ drinkData.price }}</td>
          <td>{{ drinkData.num_drinks }}</td>
          <td>{{ drinkData.others }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-1" (click)="editDrinkData(drinkData)"><i class="bi bi-pen"></i></button>
            <button class="btn btn-sm btn-danger" (click)="deleteDrinkData(drinkData)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <p class="text-muted">Encara no has afegit cap dada de consum.</p>
  </ng-template>
</div>
