<br>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <!-- Cos amb els formularis -->
    <div class="alert alert-danger" role="alert">
      No implementat encara, si has de canviar la contra contacta amb mi
    </div>
    <div class="modal-body tab-content py-4">
      <!-- Formulari de login -->
      <div class="modal-body">
        <!-- Pas 0: Introduir el correu electrònic -->
        @if (steps === 0) {
        <h4>He oblidat la contrasenya</h4>
        <br>
        <form [formGroup]="emailForm" (ngSubmit)="sendRecoveryEmail()" novalidate>
          <div class="mb-3">
            <label class="form-label" for="fp-email">Adreça electrònica</label>
            <input class="form-control" formControlName="email" type="email" id="fp-email"
              placeholder="cotorra@example.com" required>
            <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="invalid-feedback">
              És necessari un correu vàlid per recuperar la contrasenya.
            </div>
          </div>
          <button class="btn btn-primary text-black metallic-button d-block w-100" type="submit">Envia'm un enllaç de
            recuperació</button>
        </form>
        } @else if (steps=== 1) {
        <!-- Pas 1: Introduir el codi de verificació -->
        <h4>Introdueix el codi de verificació</h4>
        <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
          <div class="mb-3">
            <label class="form-label" for="verification-code">Codi de verificació</label>
            <input type="text" class="form-control" formControlName="code" id="verification-code" required>
          </div>
          <button class="btn btn-primary d-block w-100" type="submit">Verificar</button>
        </form>
        } @else if (steps===2) {
        <!-- Pas 2: Canviar la contrasenya -->
        <h4>Canviar la contrasenya</h4>
        <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
          <div class="mb-3">
            <label class="form-label" for="r-password">Contrasenya</label>
            <input type="password" class="form-control" formControlName="password" id="r-password" required>
            <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
              class="alert alert-danger">
              La contrasenya ha de tenir almenys 8 caràcters.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="r-password_1">Confirma la contrasenya</label>
            <input type="password" class="form-control" formControlName="repeatpassword" id="r-password_1" required>
            <div *ngIf="passwordForm.get('repeatpassword')?.invalid && passwordForm.get('repeatpassword')?.touched"
              class="alert alert-danger">
              Has de confirmar la contrasenya.
            </div>
          </div>
          @if (passwordForm.errors?.['mismatch'] && passwordForm.touched) {
          <div class="alert alert-warning">
            Les contrasenyes no coincideixen.
          </div>
          }
          <button class="btn btn-success d-block w-100" type="submit">Canvia la contrasenya</button>
        </form>
        } @else if (steps===3) {
        <!-- Pas 3: Èxit -->
        <h4>Contrasenya canviada amb èxit</h4>
        <p>Pots iniciar sessió amb la nova contrasenya.</p>
        <button class="btn btn-primary d-block w-100" (click)="closeModal()">D'acord</button>
        }
      </div>

    </div>

  </div>
</div>
